DATABASE_URL=postgresql://user:password@host/dbname
SECRET_KEY=your-secret-key
ADMIN_EMAIL=your-admin-email@example.com
API_URL=your-api-url
ADMIN_PASSWORD=your-admin-password
FRONTEND_URL=http://localhost:3000